.home_page_book_flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:center;
    margin-left: 10%;
    margin-right: 10%;
}

.homepage_book_item{
    display: block;
    box-sizing: border-box;
    width: 15.85%;
    text-align: left;
    padding: 3px;
    margin: 6px;
    margin-bottom: 10px;
}

.homepage_book_title{
    display:flex;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 500;
    width:100%;
    height:60px;
    cursor: pointer;
    &:hover{
        color: var(--main_color)
    }
}


.homepage_book_pseudonym{
    display: block;
    text-align: right;
    padding: 3%;
    line-height: 1.1;
    display:block;
    font-size: 14px;
    width:100%;
}

.homepage_cover_container{
    text-align: center;
}

.homepage_cover_container img{
        background-color: black;
        width: 90%;
        height: 100%;
        cursor: pointer;
        border-radius: 15px;
}