#home_dd_container{
    top:65px;
    right: 165px;
    position: absolute;
    width: 300px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.197);
    background-color: white;
    z-index: 2;
    display: none;
}

.dd_profile_pic{
    margin-right: 10px;
    width: 60px;
    border-radius: 50%;
}

.dd_item{
    font-size: 16px;
}
.dd_coin_pic{
    margin-right: 10px;
    margin-bottom: -10px;
    width:40px;
}
.dd_icon_pic{
    margin-bottom: -5px;
    width:25px;
    margin-right: 10px;
}
.dd_profile_container{
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    display:flex;
}

.dd_display_name{
    font-size: 20px;
}

.dd_user_name{
    font-size: 16px;
    color: var(--gray);
}

.dd_lines{
    display: block;
    margin: 0px;
    height:1px;
    border: none;
    background-color:var(--light_gray);
}

.dd_show_coin{
    color: #FF8204;
    font-size: 24px;
}

.coin_color{
    color: #FF8204;
    font-weight: 500;
}

.space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dd_top_up_btn{
    font-size: 22px;
    padding-left:11px;
    padding-right:11px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    background-color: var(--coin_color);
    cursor: pointer;
}

.dd_menu{
    display: block;
    height: 40px;
    width: 100%;
    padding: 5px;
    padding-left: 20Px;
    cursor: pointer;
    text-decoration:none;
    color: black;

    &:hover{
        background-color: var(--light_gray);
    }
}

.dd_cursor_coin{
    cursor: pointer;
}