html, body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  /*font weight thin 100 extralight 200 light 300 
    regular 400 medium 500 semibold 600 bold 700*/
}

.pangtransac_title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

.pangcoin_transaction_pop {
  display: none;
  background-color: #fff;
  margin-bottom: 40px;
  font-size: 16px;
}

.pangchapter_transaction_pop {
  display: none;
  background-color: #fff;
  margin-bottom: 40px;
  font-size: 16px;
}

.pangtransaction {
  margin-left: 30px;
}

.pangdrop_down_box {
  align-items: end;
}

.pangdrop_down {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-style: normal;
  height: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.pangimg_pop {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.pangtext {
  text-align: center; 
  font-size: 16px;
}