<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BookInfo</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
        <link rel="stylesheet" type="text/css" href="/static/bookstyle.css">
        <link rel="stylesheet" type="text/css" href="/static/header_footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap"
            rel="stylesheet">

        <meta charset="UTF-8">
        
    </head>

    <body>
        <script>
            // let book_name
            function displayBookInfo(bookName) {
                fetch(`/book/${bookName}`)
                .then(response => response.json())
                .then(data => {
                    // document.querySelector('book_name').innerText = data.name;
                    // book_name = data.name
                    // pseudonym = data.pseudonym
                    // genre = data.genre
                    // // status = data.status
                    // // age_restricted = data.age_restricted
                    // prologue = data.prologue

                    let genre = data.genre;
                    let book_name = data.name;
                    let pseudonym = data.pseudonym;
                    let prologue = data.prologue;

                    // Update content dynamically
                    document.querySelector('.info_item:nth-child(1) a').innerText = genre;
                    document.querySelector('.info_item:nth-child(2) a').innerText = book_name;
                    document.querySelector('.info_item:nth-child(3) a').innerText = pseudonym;
                    document.querySelector('.info_item:nth-child(4) a').innerText = prologue;
                    
                    // name, pseudonym, writer, genre, status, age_restricted, prologue
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        </script>
        <!--หัวกระดาษ-->
        <div class="header_flexbox_menu">
            <div class="header_menu_item">
                <a class="header_writing_type" href="#">นิยาย</a>
                <a class="header_writing_type" href="#">แฟนฟิค</a>
                <a class="header_writing_type" href="#">การ์ตูน</a>
            </div>
            <div class="header_menu_item">
                <a href="homepage.html"><img src="/assets/writearead_img/WriteARead_white.png" class="WriteARead_image"></a>
            </div>
            <div class="header_menu_item">
                <a href="#" onclick="toggle_search()"> <img class="search_icon" src="../assets/header_img/search_button_light.png" alt="Original Image"></a>
                <a href="#"> <img class="pen_icon" src="../assets/header_img/writing_button_light.png" alt=Original Image"></a>
                <a href="#"> <img class="user_icon" src="../assets/header_img/user_button_light.png" alt=Original Image"></a>
            </div>
        </div>


        <!--book info-->
        <div>
            <div class="book_flexbox">
                <div class="book_item">
                    <img class="book_cover" src="../assets/covers_img/temp_cover2.png" alt="book_cover" />
                </div>
                <!-- <div class ="item"> -->
                <div class="info_flexbox">
                    <div class="info_item">
                        <a>${data.genre}</a>
                    </div>
                    <div class="info_item">
                        <a>${data.book_name}</a>
                    </div>
                    <div class="info_item">
                        <a>${data.pseudonym}</a>
                    </div>
                    <div class="info_item">
                        <a>${data.prologue}</a>
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="flexbox-3">
                <div class="item-3">
                    <a class="title">prologue</a>
                    <br>
                    <a class="text">once upon a time</a>
                </div>
            </div>
            <div class="flexbox-3">
                <div class="item-3">
                    <a class="title">writer infomation</a>
                    <br>
                    <a class="text"><span>pseudonym :</span> <span>Mozaza007</span></a>
                    <br>
                    <a class="text"><span>Username :</span> <span>Mozaza</span></a>
                    <!-- <br>
                    <a class="title">publish</a>
                    <br>
                    <a class="text"><span>Lastest edit : </span> <span>02 Mar 2024</span></a> -->
                </div>
            </div>
            <div class="flexbox-3">
                <div class="item-3">
                    <a class="title">publish</a>
                    <br>
                    <a class="text"><span>Lastest edit : </span> <span>02 Mar 2024</span></a>
                </div>
            </div>
            <div class="flexbox-3">
                <div class="item-3">
                    <a class="title">ตอนทั้งหมด</a>
                    <div class="grid">
                        <p class="text text-3 text-2 content">บทที่</p>
                        <p class="text text-3 content">ชื่อตอน</p>                    
                        <img class="watch_icon content" src="../assets/book_img/eye.png" alt="watched" />
                        <p class="text text-4 content">แก้ไข</p>
                        <p class="text text-3 text-2 content">#1</p>
                        <a href="../Templates/payment.html" class="text text-3 content">เมื่อไหร่จะทำ oop เส้ดดดด</a>
                        <p class="text text-4 content">152</p>
                        <p class="text text-4 content">12/5/2023</p>
                        <p class="text text-3 text-2 content">#2</p>
                        <a href="../Templates/payment.html" class="text text-3 content">ขี้เกียจแล้ววววว</a>
                        <p class="text text-4 content">100</p>
                        <p class="text text-4 content">14/5/2023</p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer_item_container">
                <a class="footer_home_button" href="https://www.readawrite.com/">ReadAWrite</a>
            </div>
            <div class="footer_item_container">
                <a class="footer_menu_text" href="payment.html">Payment</a>
            </div>
            <div class="footer_item_container">
                <a class="footer_menu_text" href="MyPage.html">My Page</a>
            </div>
            <div class="footer_item_container">
                <a class="footer_menu_text" href="search_page.html">search</a>
            </div>
            <div class="footer_item_container">
                <a class="footer_menu_text" href="payment.html">Payment</a>
            </div>
            <div class="footer_item_container">
                <p class="footer_menu_text">© 2024 - 2024 Teletubbies Book Center | All Rights Reserved.</p>
            </div>
        </footer>

    </body>


</html>