<!DOCTYPE html>
<html lang="en">

<head>
    <title>BookInfo</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/header_footer.css">
    <link rel="stylesheet" type="text/css" href="/static/bookstyle.css">
    <link rel="stylesheet" type="text/css" href="/static/chapter_pop_up.css">
    <link rel="stylesheet" type="text/css" href="../static/main_style.css">
    <link rel="stylesheet" type="text/css" href="../static/drop_down.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <script src="../scripts/book_info.js"></script>
    <script src="../scripts/dropdown_info.js"></script>    
    <script src="../scripts/search_bar.js"></script>
    <script src="../scripts/change_page.js"></script>
 
</head>

<body>
    <div id="book-info"></div>

    <section id="searchBar">
        <div id="dark_overlay" onclick="toggle_search_off()"></div>
        <div  id="search_header">
            <div class="search_item">
                <form id="searchForm">
                    <input id="search_str" name="search_str" type="text" class="search_input" placeholder="ค้นหา" required>
                    <a href="#" onclick="toggle_search_off()"> <img class="close_search" src="../assets/header_img/close_search.png" alt=Original Image"></a>
                </form>
            </div>
        </div>
    </section>

    <div class="header_flexbox_menu">
            <div class="header_menu_item">
                <a class="header_writing_type" href="#">นิยาย</a>
                <a class="header_writing_type" href="#">แฟนฟิค</a>
                <a class="header_writing_type" href="#">การ์ตูน</a>
            </div>
            <div class="header_menu_item">
                <a href="../Templates/homepage.html"><img src="../assets/writearead_img/WriteARead_white.png" class="WriteARead_image"></a>
            </div>
            <div class="header_menu_item">
                <a href="#" onclick="toggle_search()"> <img class="search_icon" src="../assets/header_img/search_button_light.png" alt="Original Image"></a>
                <a href="#" onclick="go_to_my_writing()"> <img class="pen_icon" src="../assets/header_img/writing_button_light.png" alt=Original Image"></a>
                <a href="#" onclick="toggle_user_icon_drop_down(), replace_dd_info()"> <img class="user_icon" id="header_profile_pic" src="../assets/header_img/user_button_light.png" alt="Original Image" onerror="this.onerror=null;this.src='../assets/header_img/user_button_light.png';" ></a>
            </div>
        </div>

    <section id="buy_chapter_pop_up"  class="display_none">
        <div class="book_info_dark_overlay" id="book_info_dark_overlay" onclick="close_pop_up_buy_chapter()"></div>
        <div  id="buy_chapter_pop_up_box" class="buy_chapter_pop_up_box">
            <div class="buy_chapter_header">ซื้อตอน</div>
            <div onclick="close_pop_up_buy_chapter()" class="buy_chapter_cancel_button">
            <img src="../assets/writearead_img/close_button_light.png">
            </div>
            <hr class="lines"><br>
            <div class="pop_up_buy_chapter_name" id="buy_chapter_name"><a style="color:var(--main_color); font-size:16px"> ซื้อตอนสำเร็จ </a><br>ยอดคงเหลือ<a style="color:var(--coin_color)"">${coin_balance} coins</a> </div><br>
            <div onclick="go_to_chapter()" class="buy_chapter_confirm_button" style="background-color: var(--main_color_light);" id="buy_chapter_button">อ่านเลย</div>
    </section>

    <section id="home_dd_container">
        <div>
            <div class="dd_profile_container home_dd_cursor_coin" onclick="go_to_my_page()">
                <div>
                    <img class="dd_profile_pic" id="dd_profile_pic" src="../assets/header_img/user_button_light.png">
                </div>
                <div>
                    <a class="dd_display_name" id="dd_display_name">{display_name}</a> <br>
                    <a class="dd_user_name" id="dd_username">{username}</a>
                </div>
            </div>
            <hr class="dd_lines">
            <div class="dd_item space dd_cursor_coin">
                <div style="margin-left: 15px;">
                    <div class="coin_color" id="dd_golden_coin"><img class="dd_coin_pic" src="../assets/writearead_img/golden_coin.png">{golden_coin}</div>
                    <div style="color: var(--gray);" id="dd_silver_coin"><img class="dd_coin_pic" src="../assets/writearead_img/silver_coin.png">{silver_coin}</div>
                    <div id="dd_total_coin">รวม {total_coin} คอยน์์</div>
                </div>
                <div>
                    <a onclick="go_to_buy_coin()" class="dd_top_up_btn">+</a>
                </div>
            </div>
            <hr class="dd_lines">
            <div class="dd_item">
                <div onclick="go_to_my_writing()" class="dd_menu"><img class="dd_icon_pic" src="../assets/writearead_img/my_writing.png">My Writing</div>
                <div onclick="go_to_my_page()" class="dd_menu"><img class="dd_icon_pic" src="../assets/writearead_img/my_page.png">My Page</div>
                <div onclick="go_to_my_profile()" class="dd_menu"><img class="dd_icon_pic" src="../assets/writearead_img/my_profile.png">My Profile</div>
            </div>
            <hr class="dd_lines">
            <div class="dd_item">
                <div onclick="go_to_transac()" class="dd_menu"><img class="dd_icon_pic" src="../assets/writearead_img/transaction.png">ประวัติการสั่งซื้อ</div>
            </div>
            <hr class="dd_lines">
            <div class="dd_item">
                <div onclick="go_to_sign_in()" class="dd_menu"><img class="dd_icon_pic" src="../assets/writearead_img/sign_out.png">ออกจากระบบ</div>
            </div>
        </div>
    </section>

    <!--book info-->
    <div class="book_flexbox">
        <div class="book_item">
            <img class="book_cover" id="book_cover_img" alt="book_cover">
        </div>

        <div class="book_info_flexbox">
            <div class="book_info_item">
                <div class="text-0">
                    <a id="genre"></a>
                </div>
            </div>
            <div class="book_info_item">
                <div class="book_title">
                    <a id="bookName"></a>
                </div>
            </div>
            <div class="book_info_item">
                <div class="text-0">
                    <a id="pseudonymInfo"></a>
                </div>
            </div>
            <!-- <div class="book_info_item">
                <div class="book_title">
                    <a id="prologueInfo"></a>
                </div>
            </div> -->
            <div class="book_info_item" style="bottom: 0; right: 0; height: 210px; width: 200px; display: flex;"></div>
            <a style="text-decoration: none; color:beige" href="report_page.html"> <img class="home_icon" style="text-align: right; width: 30px;" src="../assets/writearead_img/report_icon.png" alt="Original Image">รายงานงานเขียนนี้</a>

        </div>
    </div>

    <!--prologue-->
    <div class="flexbox-3">
        <div class="item-3">
            <div class="info_title">Prologue</div>
            <a id="prologueDisplay"></a>

        </div>
    </div>
    <div class="flexbox-3">
        <div class="item-3">
            <div class="info_title">Writer information</div>
            <a>Pseudonym : </a>
            <a id="pseudonymDisplay"></a>
            <br>
            <a>Writer : </a>
            <a id="writer_username"></a>
        </div>
    </div>

    <!--lastest edit-->
    <div class="flexbox-3">
        <div class="item-3">
            <div class="info_title">Publish</div>
            <a>Latest Edit : </a>
            <a id="date_time"></a>
        </div>
    </div>

    <!--chapter-->
    <div class="flexbox-3">
        <div class="item-3">
            <a class="info_title">ตอนทั้งหมด</a>
            <div class="chapter_grid" style="grid-template-rows: 50px;">
                <p class="info_text chapter_content" style="color: rgb(63, 185, 170);">บทที่</p>
                <p class="info_text text-3 chapter_content">ชื่อตอน</p>
                <p class="info_text chapter_content" style="margin: auto;">ราคา</p>
                <img class="watch_icon chapter_content" src="../assets/book_img/eye.png" alt="watched" />
                <p class="info_text chapter_content" style="margin: auto;">แก้ไข</p>
            </div>
            <div id="chaptersContainer" class="chapter_grid" style="grid-template-rows: 50px 50px 50px;"></div>
        </div>
    </div>

    <div id="commentsContainer"></div>


    <footer class="footer">
        <a class="footer_home_button" href="https://www.readawrite.com/">ReadAWrite</a>
        <a class="footer_menu_text" href="../Templates/my_page.html">My Page</a><br>
        <a class="footer_menu_text" href="../Templates/my_profile.html">My Profile</a><br>
        <a class="footer_menu_text" href="../Templates/payment.html">Buy coin</a><br>
        <a class="footer_menu_text" href="../Templates/transaction.html">Transaction</a><br>
        <p class="footer_menu_text">© 2024 - 2024 Teletubbies Book Center | All Rights Reserved.</p>
    </footer>
    <br>

    <script>
        var header_profile_pic = document.getElementById('header_profile_pic');
        header_profile_pic.src = `../assets/profile_img/${localStorage.getItem('login_username')}.png`;
    </script>
    <script>
        const book_naame = localStorage.getItem('book_name_last')
        console.log(book_naame)
        document.getElementById('book_cover_img').src = `../assets/covers_img/${book_naame}.png`;
        
        // Retrieve book information from sessionStorage
        const bookInfoString = sessionStorage.getItem('bookInfo');
        console.log("bookInfoString", bookInfoString)
        if (bookInfoString) {
            try {
                const bookInfo = JSON.parse(bookInfoString);
                console.log("bookInfo", bookInfo);

                if (bookInfo) {
                    const { genre, name, pseudonym, prologue, writer_name, date_time } = bookInfo;

                    // Display book information in the HTML page
                    document.getElementById('genre').textContent = genre || '';
                    document.getElementById('bookName').textContent = name || '';
                    // document.getElementById('prologueInfo').textContent = prologue || '';
                    document.getElementById('prologueDisplay').textContent = prologue || '';
                    document.getElementById('writer_username').textContent = writer_name || '';
                    document.getElementById('date_time').textContent = date_time || '';
                    document.getElementById('pseudonymInfo').textContent = pseudonym || '';
                    document.getElementById('pseudonymDisplay').textContent = pseudonym || '';

                    // Retrieve the comment data from sessionStorage
                    const commentDataUse = JSON.parse(sessionStorage.getItem('commentData'));
                    const commentsContainer = document.getElementById('commentsContainer');
                    commentsContainer.innerHTML = ''; // Clear existing comments
                    console.log(commentsContainer)
                    // Check if commentDataUse is not null and is an array
                    if (commentDataUse && Array.isArray(commentDataUse)) {
                        // Iterate over each comment data and create HTML elements
                        commentDataUse.forEach(commentData => {
                            console.log("commentData", commentData)
                            commentsContainer.innerHTML += `
                            <div class="flexbox-3">
                                <div class="item-3">
                                    <div class="comment-context-text">${commentData.context}</div>
                                    <div class="comment-info-flexbox">
                                        <div class="comment-username-text" style="text-align: left; width:100%;">
                                            <a class="comment-username-text">${commentData.chapter}</a>
                                        </div>
                                        <div class="comment-username-text" style="text-align: right; width:100%;">
                                            <br>
                                            <a class="comment-username-text">${commentData.user}</a>
                                            <br>
                                            <a class="comment-date-text">${commentData.date_time}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `;
                        });
                    } else {
                        console.error('commentDataUse is null or not an array.');
                    }

                    const chapterDataUse = JSON.parse(sessionStorage.getItem('chapterData'));
                    const chaptersContainer = document.getElementById('chaptersContainer');
                    chaptersContainer.innerHTML = ''; // Clear existing chapter
                    console.log(chaptersContainer)
                    // Check if chapterDataUse is not null and is an array
                    if (chapterDataUse && Array.isArray(chapterDataUse)) {
                        // Iterate over each comment data and create HTML elements
                        // window.location,reload();
                        chapterDataUse.forEach(chapterData => {
                            console.log("chapterData", chapterData)
                            chaptersContainer.innerHTML += `
                                <p class="info_text text-3 text-2 chapter_content"style="text-align: center;">${chapterData.chapter_number}</p>
                                <a onclick="NavigateToChapterInfo('${chapterData.chapter_id}')" class="text text-3 chapter_content" style="text-align: left;">${chapterData.name}</a>
                                <p class="info_text chapter_content" style="margin: auto; font-size: 14px;">${chapterData.price}</p>
                                <p class="info_text chapter_content" style="margin: auto; font-size: 14px;">${chapterData.viewer}</p>
                                <p class="info_text chapter_content" style=" margin: auto; font-size :12px;">${chapterData.date_time}</p>
                            `;
                        });
                    } else {
                        console.error('chapterDataUse is null or not an array.');
                    }

                    // Call the showChapter and showComment functions when the window loads
                    window.onload = function () {
                        showChapter(bookInfo.name);
                        showComment(bookInfo.name);
                    };
                } else {
                    console.error('bookInfo object is null or undefined.');
                }
            } catch (error) {
                console.error('Error parsing bookInfo JSON:', error);
            }
        } else {
            console.error('bookInfo is null or undefined.');
        }

    </script>
</body>
</html>