<!DOCTYPE html>
<html>
    <head>
        <title>WriteARead</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="/scripts/search_bar.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    </head>
    <body>
        <!-- <header>
            <div class="flexbox">
                <div class="item">
                    <a class="menu_button" href="/Templates/MyPage.html">My Page</a>
                </div>
            </div>
        </header> -->

        <!-- <header class="top_header"> 
            <a class="menu_item brand" href="homepage.html">WriteARead</a>
            <a class="menu_item" href="homepage.html">Home</a>
        </header> -->

        <div class="flexbox_menu">
            <div class="menu_banner_item">
                <a class="writing_type" href="#">นิยาย</a>
                <a class="writing_type" href="#">แฟนฟิค</a>
                <a class="writing_type" href="#">การ์ตูน</a>
            </div>
            <div class="menu_banner_item">
                <a href="index.html"><img src="image/WriteARead_white.png" class="WriteARead_image"></a>
            </div>
            <div class="menu_banner_item">
                <a href="#"> <img class="ring_icon" src="image/ring_button_light.png" alt="Original Image"></a>
                <a href="#"> <img class="pen_icon" src="image/writing_button_light.png" alt=Original Image"></a>
                <a href="#"> <img class="user_icon" src="image/user_button_light.png" alt=Original Image"></a>
            </div>
        </div>

        <header class="top_banner">
            <form id="searchForm">
                <div class="flexbox">
                    <div class="search_item">
                        <input id="search_str" name="search_str" type="text" class="search_input" placeholder="ค้นหา" required>
                    </div>
                    <div class="search_item">
                        <input class="search_button" type="image" src="image/search_button_light.png" alt="Submit">
                    </div>
                </div>
            </form>
        </header>
        <br>

        <div class="gallery-wrapper">
            <div class="gallery-scroll">
                <div class="gallery">
                <div class="gallery_item">
                    <img src="image/temp_banner1.png" alt="Image" />
                </div>
                <div class="gallery_item">
                    <img src="image/temp_banner2.png" alt="Image" />
                </div>
                <div class="gallery_item">
                    <img src="image/temp_banner3.png" alt="Image" />
                </div>
                <!-- <div class="gallery_item">
                    <img src="https://images.unsplash.com/photo-1476673160081-cf065607f449?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image" />
                </div> -->
                </div>
            </div>
            </div>
        <br>
        <div class="right">
            <a href="payment.html"> <img class="top_up" src="image/buy_coin.png"></a>
        </div>
        <hr>
        <a class="subtag_title">ผลการค้าหาชั่วคราว</a>
        <ul id="search_result"></ul>

        <hr>
        <div>
            <a class="tag_title">Love Novel</a><br><br>
            <a class="subtag_title">นิยายรัก</a>
            <div class="flexbox">
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>                </div>
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>
                </div>
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>
                </div>
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>
                </div>
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>
                </div>
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>
                </div>
            </div>
            <div class="flexbox">
                <div class="item">
                    <a class="book_title">รักลับๆกับเจ้านายเย็นชา</a>
                </div>
                <div class="item">
                    <a class="book_title">ปีที่แล้วเธอกับฉันเราพลัดหลงกัน</a>
                </div>
                <div class="item">
                    <a class="book_title">พี่ครับนมผลไหล ref:เพื่อนในกลุ่ม</a>
                </div>
                <div class="item">
                    <a class="book_title">ชื่อหนังสือ</a>
                </div>
                <div class="item">
                    <a class="book_title">ชื่อหนังสือ</a>
                </div>
                <div class="item">
                    <a class="book_title">ชื่อหนังสือ</a>
                </div>
            </div>

            <br>
            <a class="subtag_title">นิยายรักจีนโบราณ</a>
            <div class="flexbox">
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>                </div>
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>
                </div>
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>
                </div>
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>
                </div>
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>
                </div>
                <div class="item">
                    <a><img class="temp_cover_preview" src="image/temp_cover.jpg"></a>
                </div>
            </div>
            <div class="flexbox">
                <div class="item">
                    <a class="book_title">รักลับๆกับเจ้านายเย็นชา</a>
                </div>
                <div class="item">
                    <a class="book_title">ปีที่แล้วเธอกับฉันเราพลัดหลงกัน</a>
                </div>
                <div class="item">
                    <a class="book_title">พี่ครับนมผลไหล ref:เพื่อนในกลุ่ม</a>
                </div>
                <div class="item">
                    <a class="book_title">ชื่อหนังสือ</a>
                </div>
                <div class="item">
                    <a class="book_title">ชื่อหนังสือ</a>
                </div>
                <div class="item">
                    <a class="book_title">ชื่อหนังสือ</a>
                </div>
            </div>
        </div>

        
        <hr>
        <footer class="bottom_footer">
            <a class="menu_item" href="https://www.readawrite.com/">ReadAWrite</a>
            <a class="temporary_text" href="payment.html">Payment</a>
            <a class="temporary_text" href="MyPage.html">My Page</a>
            <a class="temporary_text" href="https://www.canva.com/design/DAF--8n14UM/A16peiKoGKzyiTvsguoHaw/edit?utm_content=DAF--8n14UM&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Canva</a>
        </footer>
    
    </body>
</html>