<!DOCTYPE html>
<html>
    <head>
        <title>WriteARead</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="/scripts/search_bar.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    </head>
    <body>
        <!-- <header>
            <div class="flexbox">
                <div class="item">
                    <a class="menu_button" href="/Templates/MyPage.html">My Page</a>
                </div>
            </div>
        </header> -->

        <!-- <header class="top_header"> 
            <a class="menu_item brand" href="homepage.html">WriteARead</a>
            <a class="menu_item" href="homepage.html">Home</a>
        </header> -->

        <!-- <header class="menu_banner"> -->
        <div class="menu_banner">
            <h3 class="writing_type" style="margin-left: 40px;">นิยาย</h3> <h3 class="writing_type">แฟนฟิค</h3> <h3 class="writing_type">การ์ตูน</h3>
        </div>
            <!-- </header> -->
        <header class="top_banner">
            <form id="searchForm">
                <div class="flexbox">
                    <div class="search_item">
                        <input id="search_str" name="search_str" type="text" class="search_input" placeholder="ค้นหา" required>
                    </div>
                    <div class="search_item">
                        <input class="search_button" type="image" src="image/search_button_bw.png" alt="Submit">
                    </div>
                </div>
            </form>
            <a href="index.html"><img src="image/WriteARead_white.png" class="WriteARead_image"></a>
        </header>

        <ul id="search_result"></ul>
        <a href="payment.html">Payment</a>
        <a href="/Templates/MyPage.html">My Page</a>

    </body>
</html>