<!DOCTYPE html>
<html>
    <head>
        <title>WriteARead</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
        <link rel="stylesheet" type="text/css" href="/static/header_footer.css">
        <link rel="stylesheet" type="text/css" href="/static/search_page.css">
        <link rel="stylesheet" type="text/css" href="/static/search_page.css">
        <link rel="stylesheet" type="text/css" href="/static/my_profile.css">


        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

        <script src="/scripts/search_bar.js"></script>
        <script src="/scripts/toggle_search.js"></script>
        <script src="/scripts/my_profile.js"></script>


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>

        <div class="header_flexbox_menu">
            <div class="header_menu_item">
                <a class="header_writing_type" href="#">นิยาย</a>
                <a class="header_writing_type" href="#">แฟนฟิค</a>
                <a class="header_writing_type" href="#">การ์ตูน</a>
            </div>
            <div class="header_menu_item">
                <a href="homepage.html"><img src="/assets/writearead_img/WriteARead_white.png" class="WriteARead_image"></a>
            </div>
            <div class="header_menu_item">
                <a href="#" onclick="toggle_search()"> <img class="search_icon" src="../assets/header_img/search_button_light.png" alt="Original Image"></a>
                <a href="#"> <img class="pen_icon" src="../assets/header_img/writing_button_light.png" alt=Original Image"></a>
                <a href="#"> <img class="user_icon" src="../assets/header_img/user_button_light.png" alt=Original Image"></a>
            </div>
        </div>
        <br>
        
        <div class="my_profile_info_page">
            <div class="my_profile_btn">My Profile</div><br>
            <div class="my_profile_profile_pic_container" id="my_profile_profile_pic_container">
                <img class="my_profile_profile_pic" src="../assets/header_img/user_button_light.png" alt="profile_pic">
            </div>
            <div class="my_profile_name_container">
                <div class="my_profile_display_name">
                    <a id="my_profile_display_name">display_name</a><br>
                </div>
            </div>
            <div class="my_profile_user_info_container">
                <div class="my_profile_info_key_container">
                    <a class="my_profile_user_info_item">Username</a>
                    <a class="my_profile_user_info_item">รหัสผ่าน</a>
                </div>
                <div class="my_profile_info_value_container">
                    <a id="my_profile_username" class="my_profile_user_info_item">username</a>
                    <div class="my_profile_user_info_item">
                        <a>********</a>
                        <a id="my_profile_change_password_button" onclick="toggle_change_password()"">เปลี่ยนรหัสผ่าน</a>
                    </div>
                </div>
            </div>
            </div>
            
            <section id="my_profile_change_password" class="display_none">
                <div class="dark_overlay" id="my_profile_dark_overlay" onclick="toggle_change_password_off()"></div>
                <div  id="my_profile_change_password_box" class="change_password_box">
                    <a>เปลี่ยนรหัสผ่าน</a>
                    <form id="change_password_form">
                        <input id="old_password" type="text" class="search_input" name="old_password" placeholder="รหัสผ่านเดิม" required>
                        <input id="new_password" type="text" class="search_input" name="new_password" placeholder="รหัสผ่านใหม่" required>
                        <button class="my_profile_confirm_button" type="submit">บันทึก</button>
                    </form>
                    <a class="display_none" id="response_change_password">เปลี่ยนรหัสผ่านแล้ว</a>
                </div>
            </section>
        </div>
        <br>
        
        <hr>
        <footer class="footer">
            <div class="footer_item_container">
                <a class="footer_home_button" href="https://www.readawrite.com/">ReadAWrite</a>
            </div>
            <div class="footer_item_container">
                <a class="footer_menu_text" href="payment.html">Payment</a>
            </div>
            <div class="footer_item_container">
                <a class="footer_menu_text" href="MyPage.html">My Page</a>
            </div>
            <div class="footer_item_container">
                <a class="footer_menu_text" href="search_page.html">search</a>
            </div>
            <div class="footer_item_container">
                <a class="footer_menu_text" href="payment.html">Payment</a>
            </div>
            <div class="footer_item_container">
                <p class="footer_menu_text">© 2024 - 2024 Teletubbies Book Center | All Rights Reserved.</p>
            </div>
        </footer>
        <br>


    </body>
</html>