<!DOCTYPE html>
<html>
    <head>
        <title>WriteARead</title>
        <link rel="stylesheet" type="text/css" href="../static/header_footer.css">
        <link rel="stylesheet" type="text/css" href="../static/search_page.css">
        <link rel="stylesheet" type="text/css" href="../static/my_profile.css">
        <link rel="stylesheet" type="text/css" href="../static/main_style.css">
        <link rel="stylesheet" type="text/css" href="../static/drop_down.css">

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

        <script src="/scripts/search_bar.js"></script>
        <script src="/scripts/toggle_search.js"></script>
        <script src="/scripts/my_profile.js"></script>


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>

        <section id="searchBar">
            <div id="dark_overlay" onclick="toggle_search_off()"></div>
            <div  id="search_header">
                <div class="search_item">
                    <form id="searchForm">
                        <input id="search_str" name="search_str" type="text" class="search_input" placeholder="ค้นหา" required>
                        <a href="#" onclick="toggle_search_off()"> <img class="close_search" src="../assets/header_img/close_search.png" alt=Original Image"></a>
                    </form>
                </div>
            </div>
        </section>

        <div class="header_flexbox_menu">
            <div class="header_menu_item">
                <a class="header_writing_type" href="#">นิยาย</a>
                <a class="header_writing_type" href="#">แฟนฟิค</a>
                <a class="header_writing_type" href="#">การ์ตูน</a>
            </div>
            <div class="header_menu_item">
                <a href="../Templates/homepage.html"><img src="../assets/writearead_img/WriteARead_white.png" class="WriteARead_image"></a>
            </div>
            <div class="header_menu_item">
                <a href="#" onclick="toggle_search()"> <img class="search_icon" src="../assets/header_img/search_button_light.png" alt="Original Image"></a>
                <a href="#" onclick="go_to_my_writing()"> <img class="pen_icon" src="../assets/header_img/writing_button_light.png" alt=Original Image"></a>
                <a href="#" onclick="toggle_user_icon_drop_down(), replace_dd_info()"> <img class="user_icon" id="header_profile_pic" src="../assets/header_img/user_button_light.png" alt="Original Image" onerror="this.onerror=null;this.src='../assets/header_img/user_button_light.png';" ></a>
            </div>
        </div>
    <br><br><br>

    <section id="home_dd_container">
        <div>
            <div class="dd_profile_container home_dd_cursor_coin" onclick="go_to_my_page()">
                <div>
                    <img class="dd_profile_pic" id="dd_profile_pic" src="../assets/header_img/user_button_light.png">
                </div>
                <div>
                    <a class="dd_display_name" id="dd_display_name">{display_name}</a> <br>
                    <a class="dd_user_name" id="dd_username">{username}</a>
                </div>
            </div>
            <hr class="dd_lines">
            <div class="dd_item space dd_cursor_coin">
                <div style="margin-left: 15px;">
                    <div class="coin_color" id="dd_golden_coin"><img class="dd_coin_pic" src="../assets/writearead_img/golden_coin.png">{golden_coin}</div>
                    <div style="color: var(--gray);" id="dd_silver_coin"><img class="dd_coin_pic" src="../assets/writearead_img/silver_coin.png">{silver_coin}</div>
                    <div id="dd_total_coin">รวม {total_coin} คอยน์์</div>
                </div>
                <div>
                    <a onclick="go_to_buy_coin()" class="dd_top_up_btn">+</a>
                </div>
            </div>
            <hr class="dd_lines">
            <div class="dd_item">
                <div onclick="go_to_my_writing()" class="dd_menu"><img class="dd_icon_pic" src="../assets/writearead_img/my_writing.png">My Writing</div>
                <div onclick="go_to_my_page()" class="dd_menu"><img class="dd_icon_pic" src="../assets/writearead_img/my_page.png">My Page</div>
                <div onclick="go_to_my_profile()" class="dd_menu"><img class="dd_icon_pic" src="../assets/writearead_img/my_profile.png">My Profile</div>
            </div>
            <hr class="dd_lines">
            <div class="dd_item">
                <div onclick="go_to_transac()" class="dd_menu"><img class="dd_icon_pic" src="../assets/writearead_img/transaction.png">ประวัติการสั่งซื้อ</div>
            </div>
            <hr class="dd_lines">
            <div class="dd_item">
                <div onclick="go_to_sign_in()" class="dd_menu"><img class="dd_icon_pic" src="../assets/writearead_img/sign_out.png">ออกจากระบบ</div>
            </div>
        </div>
    </section>
        
        <div class="my_profile_info_page">
            <div class="my_profile_btn">My Profile</div><br>
            <div class="my_profile_profile_pic_container" id="my_profile_profile_pic_container">
                <img class="my_profile_profile_pic" src="../assets/header_img/user_button_light.png" alt="profile_pic">
            </div>
            <div class="my_profile_name_container">
                <div class="my_profile_display_name">
                    <a id="my_profile_display_name">display_name</a><br>
                </div>
            </div>
            <div class="my_profile_user_info_container">
                <div class="my_profile_info_key_container">
                    <a class="my_profile_user_info_item">Username</a>
                    <a class="my_profile_user_info_item">รหัสผ่าน</a>
                </div>
                <div class="my_profile_info_value_container">
                    <a id="my_profile_username" class="my_profile_user_info_item">username</a>
                    <div class="my_profile_user_info_item">
                        <a>********</a>
                        <a id="my_profile_change_password_button" onclick="toggle_change_password()"">เปลี่ยนรหัสผ่าน</a>
                    </div>
                </div>
            </div>
            </div>
            
            <section id="my_profile_change_password" class="display_none">
                <div class="dark_overlay" id="my_profile_dark_overlay" onclick="toggle_change_password_off()"></div>
                <div  id="my_profile_change_password_box" class="change_password_box">
                    <a>เปลี่ยนรหัสผ่าน</a>
                    <form id="change_password_form">
                        <input id="old_password" type="text" class="search_input" name="old_password" placeholder="รหัสผ่านเดิม" required>
                        <input id="new_password" type="text" class="search_input" name="new_password" placeholder="รหัสผ่านใหม่" required>
                        <button class="my_profile_confirm_button" type="submit">บันทึก</button>
                    </form>
                    <a class="display_none" id="response_change_password">เปลี่ยนรหัสผ่านแล้ว</a>
                </div>
            </section>
        </div>
        <br>
        
        <footer class="footer">
            <a class="footer_home_button" href="https://www.readawrite.com/">ReadAWrite</a>
            <a class="footer_menu_text" href="../Templates/my_page.html">My Page</a><br>
            <a class="footer_menu_text" href="../Templates/my_profile.html">My Profile</a><br>
            <a class="footer_menu_text" href="../Templates/payment.html">Buy coin</a><br>
            <a class="footer_menu_text" href="../Templates/transaction.html">Transaction</a><br>
            <p class="footer_menu_text">© 2024 - 2024 Teletubbies Book Center | All Rights Reserved.</p>
    </footer>
    <script>
        var header_profile_pic = document.getElementById('header_profile_pic');
        header_profile_pic.src = `../assets/profile_img/${localStorage.getItem('login_username')}.png`;
    </script>
    <script src="../scripts/search_bar.js"></script>
    <script src="../scripts/change_page.js"></script>
    <script src="../scripts/dropdown_info.js"></script>


    </body>
</html>