<!DOCTYPE html>
<html>
    <head>
        <title>WriteARead Search Page</title>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
        <link rel="stylesheet" type="text/css" href="/static/header_footer.css">
        <link rel="stylesheet" type="text/css" href="/static/search_bar.css">

        <link rel="stylesheet" type="text/css" href="/static/search_page.css">

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

        <script src="/scripts/search_page.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header_flexbox_menu">
            <div class="header_menu_item">
                <a class="header_writing_type" href="#">นิยาย</a>
                <a class="header_writing_type" href="#">แฟนฟิค</a>
                <a class="header_writing_type" href="#">การ์ตูน</a>
            </div>
            <div class="header_menu_item">
                <a href="index.html"><img src="image/WriteARead_white.png" class="WriteARead_image"></a>
            </div>
            <div class="header_menu_item">
                <a href="#" onclick="toggle_search()"> <img class="search_icon" src="image/search_button_light.png" alt="Original Image"></a>
                <a href="#"> <img class="pen_icon" src="image/writing_button_light.png" alt=Original Image"></a>
                <a href="#"> <img class="user_icon" src="image/user_button_light.png" alt=Original Image"></a>
            </div>
        </div>

        <!-- <section id="searchBar"> -->
            <!-- <div id="dark_overlay" onclick="toggle_search_off()"></div> -->
            <!-- <div  id="search_header">
                <div class="search_item">
                    <form id="searchForm">
                        <input id="search_str" name="search_str" type="text" class="search_input" placeholder="ค้นหา" required>
                        <a href="#" onclick="toggle_search_off()"> <img class="close_search" src="image/close_search.png" alt=Original Image"></a>
                        <input class="search_button" type="image" src="image/search_button_bw.png" alt="Submit">

                    </form>
                </div>
            </div> -->
        <!-- </section> -->

        <br>
        <br>
        <br>
        <br>

        <div class="stage">
            <div class="cell">
                <div class="searchbar">
                    <form id="searchFormPage">
                        <input type="text" class="btn-extended" id="searchInputPage" name="search_str" placeholder="ค้นหา" required>
                        <div class="btn-search" type="Submit"></div>
                    </form>
                </div><!-- .searchbar -->
            </div><!-- .cell -->
        </div><!-- .stage -->

        <br>
        <br>
        <br>

        <ul id="search_result_page"></ul>
        

        <footer class="footer">
            <a class="footer_home_button" href="https://www.readawrite.com/">ReadAWrite</a><br>
            <a class="footer_menu_text" href="payment.html">Payment</a><br>
            <a class="footer_menu_text" href="MyPage.html">My Page</a><br>
            <a class="footer_menu_text" href="search_page.html">My Page</a><br>
            <a class="footer_menu_text" href="https://www.canva.com/design/DAF--8n14UM/A16peiKoGKzyiTvsguoHaw/edit?utm_content=DAF--8n14UM&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Canva</a>
        </footer>
    </body>
</html>