<header class="top_banner">
            <form id="searchForm">
                <div class="flexbox">
                    <div class="search_item">
                        <input id="search_str" name="search_str" type="text" class="search_input" placeholder="ค้นหา" required>
                    </div>
                    <div class="search_item">
                        <input class="search_button" type="image" src="image/search_button_bw.png" alt="Submit">
                    </div>
                </div>
            </form>
            <a href="index.html"><img src="image/WriteARead_white.png" class="WriteARead_image"></a>
        </header>

        
        <!-- <div class="gallery-wrapper">
            <div class="gallery-scroll">
                <div class="gallery">
                    <div class="gallery_item">
                        <img src="image/temp_banner1.png" alt="Image" />
                    </div>
                <div class="gallery_item">
                    <img src="image/temp_banner2.png" alt="Image" />
                </div>
                <div class="gallery_item">
                    <img src="image/temp_banner3.png" alt="Image" />
                </div>
                    <div class="gallery_item">
                    <img src="https://images.unsplash.com/photo-1476673160081-cf065607f449?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Image" />
                    </div> -->
                <!-- </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
            <!-- </div>
        </div> -->
